<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Magenic-Commerce</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>

<body>
    <header>

        <!-- Main Navigation Start -->
        <app-navigation></app-navigation>
        <!-- Main Navigation End -->
    </header>

    <!-- Banner Section Start -->
      <app-banner></app-banner>
    <!-- Banner Section End -->

    <div class="container">
        <!-- Popular Items Start -->
      <app-popular-items></app-popular-items>
        <!-- Popular Items End -->
    </div>

    <!-- Location Start -->
      <app-location></app-location>
    <!-- Location End -->

    <!-- Footer Start -->
      <app-footer></app-footer>
    <!-- Footer End -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>